:root {
    --orange: #e6a132;
    --white: #fff;
}

body {
    padding: 0;
    margin: 0;
    background: var(--orange);
}

img {
    width: 10px;
    height: 10px;
}

.container_Parent {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.container_Child {
    max-width: 450px;
    width: 100%;
}

.calculator {
    display: grid;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 300px;
    height: 700px;
    min-width: 200px;
    width: 450px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

/* Display  */

#display {
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
    min-height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}

.number {
    color: white;
    font-size: 2em;
}

/* Buttons  */

.allButton {
    display: grid;
    grid-template-areas: ;
    background: rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 15px 15px;
    padding: 1rem;
}

.asset {
    display: grid;
}

.buttonBox {
    border-style: outset;
}
